@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
body{
font-family: 'Roboto Slab', serif;
background-color:#c1bae7;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 870px;
    height: 679px;
    padding: 30px;
    

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5px;
    
}
.section-title{
    position: relative;
    font-size: 18px;
    color: blue;
}
.players img{
    height: 56px;
    width: 56px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    padding: 16px;
    font-size: 18px;
}


.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0px;
}
.blog{
    display: flex;
    padding: 0px;
    align-items: center;

}

.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    padding: 16px;
    font-size: 20px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

.container2{
position: absolute;
width: 870px;
height: 362px;
top: 830px;
padding: 30px;

background: #FFFFFF;
border-radius: 5px;   
}
.courses-title{
    position: relative;
    font-size: 18px;
    color: blue;
    padding: 16px;
}
.course img{
width: 224.38px;
height: 105.51px;
}
.courses{
display: grid;
grid-template-columns: repeat(3,0.5fr);
}
.course{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    margin: 5px;
}
.course-title{
    width: 230px;
    height: 20px;
    font-size: 20.0336px;
    line-height: 23px;

}
.trainer-name{
    color: #ED6B4F;
    font-size: 12px;
    padding: 5px;
}


